<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baitapmau">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BaiTapMau">
        <activity
            android:name=".NhanVien95"
            android:exported="false" />
        <activity
            android:name=".DSNhanVienViTri"
            android:exported="false" />
        <activity
            android:name=".NhanVienViTri"
            android:exported="false" />
        <activity
            android:name=".addvitri"
            android:exported="false" />
        <activity
            android:name=".vitri_activity"
            android:exported="false" />
        <activity
            android:name=".activity_addNhanVien"
            android:exported="false" />
        <activity
            android:name=".nhanvien_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>